[submodule "puppet/modules/java"]
	path = puppet/modules/java
	url = https://github.com/cirg/puppetlabs-java.git
[submodule "puppet/modules/stdlib"]
	path = puppet/modules/stdlib
	url = https://github.com/cirg/puppetlabs-stdlib.git
[submodule "puppet/modules/mysql"]
	path = puppet/modules/mysql
	url = https://github.com/cirg/puppetlabs-mysql.git
[submodule "puppet/modules/apt"]
	path = puppet/modules/apt
	url = https://github.com/cirg/puppetlabs-apt.git
[submodule "puppet/modules/openmrs"]
	path = puppet/modules/openmrs
	url = https://github.com/cirg/puppet-openmrs.git
[submodule "puppet/modules/apache"]
	path = puppet/modules/apache
	url = https://github.com/cirg/puppetlabs-apache.git
[submodule "puppet/modules/postgresql"]
	path = puppet/modules/postgresql
	url = https://github.com/cirg/puppet-postgresql.git
[submodule "puppet/modules/tomcat"]
	path = puppet/modules/tomcat
	url = https://github.com/cirg/cirg-tomcat.git
[submodule "puppet/modules/locales"]
	path = puppet/modules/locales
	url = https://github.com/cirg/puppet-module-locales.git
[submodule "puppet/modules/vcsrepo"]
	path = puppet/modules/vcsrepo
	url = https://github.com/cirg/puppetlabs-vcsrepo.git
[submodule "puppet/modules/pump"]
	path = puppet/modules/pump
	url = http://github.com/cirg/puppet-pump
[submodule "puppet/modules/exim"]
	path = puppet/modules/exim
	url = http://github.com/cirg/puppet-exim
